@font-face {
  font-family:retro;
  src:url(retroitalics.ttf);
}
body {
	background-image:url("lake.jpg");
  background-size:100%;
  background-color:black;
  background-repeat:no-repeat;
  color:white;
}
h1 {
  width:100%;
  font-size:600%;
  font-family:retro;
}
h2 {
  font-size:70%;
  text-transform:uppercase;
  font-family:retro;
}
#text {
  position:absolute;
  width:80%;
  float:left;
}
#social {
  margin:95px;
  float:right;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size:70%;
  position:absolute;
  bottom:10px;
  width:99%;
  text-align:center;
}
/* desktop only */
@media (min-width:768px) {

}
/* mobile only */
@media all and (max-width:1075px) {
  h2 {
    font-size:140%;
  }
  a > img {
    width:150px;
    height:150px;
  }
  footer {
    font-size:180%;
  }
}