@font-face {
  font-family:retro;
  src:url(retroitalics.ttf);
}
body {
	background-image:url("lake.jpg");
  background-size:100%;
  background-color:black;
  background-repeat:no-repeat;
  color:white;
  font-family:retro;
}
h1 {
  width:100%;
  font-size:600%;
}
h2 {
  font-size:70%;
  text-transform:uppercase;
}
#text {
  position:absolute;
  width:80%;
  float:left;
}
#social {
  margin:95px;
  float:right;
}
/* desktop only */
@media (min-width:768px) {

}
/* mobile only */
@media all and (max-width:768px) {
  h2 {
    font-size:100%;
  }
  a > img {
    width:100px;
    height:100px;
  }
}